<div class="container-main">
    <div class="container">
        <mat-card *ngFor="let address of addresses" class="address mat-elevation-z8">
            <mat-card-content>
                <div class="address-line">
                    <span>{{address.street}}</span>
                    <span>{{address.city}}</span>
                    <span>{{address.state}}</span>
                    <span>{{address.postalcode}}</span>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button (click)="editAddress(address)" mat-raised-button color="primary">Edit</button>
                <button mat-raised-button color="accent">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <button class="center" mat-raised-button color="primary">Add Address</button>
</div>