<mat-card class="container mat-elevation-z10">
    <mat-card-header>
        <mat-card-title>{{person.firstName}}</mat-card-title>
        <mat-card-subtitle>{{person.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions *ngIf="!!person.firstName">
        <button (click)="editPerson()" mat-raised-button color="primary" >Edit</button>
        <button (click)="deletePerson()"  mat-raised-button color="accent" >Delete</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="!person.firstName">
        <button (click)="addPerson()" mat-raised-button color="primary" >Add New</button>
    </mat-card-actions>
</mat-card>
